
<!DOCTYPE html>
<html lang="vi-VN">
    <head>

        <meta charset="UTF-8">
        <title>Upload Image</title>
        <script src="{{ url_for('static', filename='jquery_3_3_1.js') }}"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='flask.css') }}" type="text/css">
		<link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='logo.ico') }}">
    </head>
<body>
<main class="main_full">
	<form method="post" enctype="multipart/form-data"> 
	<div class="container">
			<div class="panel">
				<div class="button_outer">
					<div class="btn_upload">
						
							<input type="file" id="upload_file" name="file">
						Tải ảnh lên
					</div>
					<div class="processing_bar"></div>
					<div class="success_box"></div>
				</div>
			</div>
			<div class="error_msg"></div>
			<div class="uploaded_file_view" id="uploaded_view">
				<span class="file_remove">X</span>
			</div>
	</div>
	<div style="width: 100%; margin: auto; text-align: center;" >
	<button class="learn-more">
		<span class="circle" aria-hidden="true">
		<span class="icon arrow"></span>
		</span>
		<span class="button-text">Xác nhận</span>
	  </button>
	</div>
</form>
</main>
</body>
<script src="{{ url_for('static', filename='flask.js') }}"></script>